<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="signup">
        <h1>Signup</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Fullname" name="name"> <br> <br>
            <input type="email" placeholder="Enter email" name="email"> <br> <br>
            <input type="password" placeholder="Enter number" name="password">
            <br> <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>